body {
    background-color: rgb(0, 255, 227);
    font-size: 120%;
}
.design-01 {
    background-color: rebeccapurple;
    color: white;
    font-size: 2em;
    /*padding: 10px;*/
}
.design-02 {
    background-color: chocolate;
    color: #3c4c60;
    /*padding: 10px;*/
}
.p {
    padding: 10px;
}
main * {
    color: #4a795d;
    font-style: italic;
    padding: 31px;
}